<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<title>Home</title>
</head>
<body>
	<div class="UserList container mb-3 mt-3">
		<h1 style="color: green">User List</h1>
		<table class="table table-bordered myDataTable" style="width: 100%">
			<thead class="table-info">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Age</th>
					<th scope="col">Popup</th>
				</tr>
			</thead>
				
		</table>

		<script>
		$('.myDataTable').dataTable({
	        "ajax": {
	            "url": "/getUserList", 
	            "dataSrc" : function (json) {
	            // manipulate your data (json)
	            ...

	            // return the data that DataTables is to use to draw the table
	            return json;
	        }
	        "columns": [
	            { "data": "ID"},
	            { "data": "Name"},
	            { "data": "Age"},
	            { "data": "Popup"}
	        ]
	        }
	    });
		
		</script>
		<br>
		<div class="row FooterUserList">
			<button class="btn btn-primary" style="margin-right: 10px"
				type="submit">Export</button>
			<button class="btn btn-primary" type="reset">Print</button>
		</div>
	</div>
</body>
</html>