<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/libs/js-xlsx/xlsx.core.min.js}"></script>
<script th:src="@{/libs/FileSaver/FileSaver.min.js}"></script>
<script th:src="@{/libs/tableExport.min.js}"></script>

<title>Home</title>
</head>
<body>
	<div class="UserList container mb-3 mt-3">
		<h1 style="color: green">User List</h1>

		<!-- Search -->
		<div>
			<nav class="navbar navbar-light bg-light">
				<form class="form-inline ml-auto">
					<i class="material-icons">&#xE8B6;</i> <input
						class="form-control mr-sm-2" id="tableSearch" type="search"
						placeholder="Search..." aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn"
						type="button">Search</button>
				</form>
			</nav>
		</div>

		<div>
			<button class="btn btn-primary" id="addUser" type="button">Add
				new user</button>
			<br> <br>
		</div>

		<!-- Table -->
		<table class="table table-bordered" style="width: 100%">
			<thead class="table-info">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Age</th>
					<th scope="col">Image</th>
					<th scope="col">Show detail</th>
				</tr>
			</thead>

			<tbody id="myTable">
				<tr th:each="user : ${users}">
					<td id="rowUserId" th:text="${user.userId}"></td>
					<td id="rowUserName" th:text="${user.userName}"></td>
					<td id="rowUserAge" th:text="${user.userAge}"></td>
					<td>
					<img id="rowUserImage" class="img-fluid" th:src="${user.userUri}" alt="Responsive image">
					</td>
					<td>
						<button type="button" class="btn btn-info" id="shownBtn">Click
							here</button>
					</td>
				</tr>
			</tbody>

		</table>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">

				<form id="formPopup" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">User
								information</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body row">
							<div class=" col-md-6">
								<img id="inputImage" class="img-fluid" name="userUri" alt="Responsive image">
								<input id="inputFileAvatar" type="file" name="file"> <br />
							</div>

							<div class="col-md-6">
								<input id="inputId" name="userId" type="hidden"
									class="form-control mx-sm-3" />

								<div class="row mt-2">
									<div class="col-md-2">
										<label for="inputName">Name</label>
									</div>
									<div class="col-sm-9">
										<input id="inputName" name="userName" type="text"
											class="form-control mx-sm-3" />
									</div>
								</div>

								<div class="row mt-2">
									<div class="col-md-2">
										<label for="inputAge">Age</label>
									</div>
									<div class="col-sm-9">
										<input id="inputAge" name="userAge" type="text"
											class="form-control mx-sm-3" />
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">OK</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Export CSV -->
		<div>
			<button type="button" class="btn btn-primary" id="export">Export</button>
			<button type="button" class="btn btn-primary">Print</button>
		</div>

	</div>
</body>
</html>