<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<title>Home</title>
</head>
<body>
	<div class="UserList container mb-3 mt-3">
		<h1 style="color: green">User List</h1>
		<table class="table table-bordered myDataTable" style="width: 100%">
			<thead class="table-info">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Age</th>
					<th scope="col">Show detail</th>
				</tr>
			</thead>
				
		</table>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<script>
		$(document).ready(function() {
			$('.myDataTable').dataTable({
		        "ajax": {
		            "url": "/getUserList", 
		            "dataSrc" : function (json) {
		            // manipulate your data (json)
		            

		            // return the data that DataTables is to use to draw the table
		            	return json;
		        	}
		        },
		        
		        "columns": [
		            { "data": "userId"},
		            { "data": "userName"},
		            { "data": "userAge"},
		            { "data": null,
		            	"render": function(data) {
		            		return '<button type="button" class="btn btn-info btnShowDetail">'
		            		 + 'Click here'
		            		 +  '</button>';
		            	}
		            	}
		        ],
		        dom: 'Bfrtip',
			    buttons: [
		            'copy', 'csv', 'excel', 'pdf', 'print'
		        ]

		    });
			
		    $('.myDataTable').on('click', '.btnShowDetail' ,function(){ 
		    	  $("#exampleModal").modal('show');
		    });
		});
		
		</script>
		
	</div>
</body>
</html>