<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="row" id="login">
		<div class="col-md-6 mt-4">
			<h1 style="color: green">Login Form</h1>
			<a class="btn btn-info" style="position: absolute; top: 0; right: 0;"
				th:href="@{/help}">Help?</a>
			<form th:action="@{/login}" th:object="${loginform}" method="post">
				<div th:if="${invalidCredentials}" class="alert alert-danger">Invalid
					Username or Password</div>
				<div class="form-group">
					<label for="username"><b>Email:</b></label> <input type="text"
						class="form-control" id="username" placeholder="Enter username"
						name="username">
				</div>
				<div class="form-group">
					<label for="password"><b>Password:</b></label> <input
						type="password" class="form-control" id="password"
						placeholder="Enter password" name="password">
				</div>
				<div class="row justify-content-end FooterLogin">
					<button class="btn btn-primary" style="margin-right: 10px"
						type="submit">Login</button>
					<button class="btn btn-secondary" type="reset">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>